<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= employee.status %>
  </p>

  <p>
    <strong>Costcenter:</strong>
    <%= employee.costcenter_ids %>
  </p>

</div>
