<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2 display-6">Pesagens</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to "Nova Pesagem", new_weighing_path, class: "btn btn-sm btn-outline-secondary" %>
    <%= link_to "Relatórios", weighings_find_by_period_path, class: "btn btn-sm btn-outline-secondary" %>
  </div>
</div>

<div id="tbweighings" class="table-responsive">
  <table class="table table-hover table-striped table-sm mb-0">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Serviço</th>
        <th scope="col">Placa</th>
        <th scope="col">Motorista</th>
        <th scope="col">Data</th>
        <th scope="col">Hora</th>
        <th scope="col">Nº Cupom</th>
        <th scope="col">Peso Entrada</th>
        <th scope="col">Peso Saída</th>
        <th scope="col">Peso Líquido</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
      <tbody id="weighings">
        
      </tbody>
  </table>
</div>

<%= turbo_frame_tag "pagination", src: weighings_path(format: :turbo_stream), loading: :lazy %>